In [1]:
import pandas as pd

df = pd.read_csv("budget.csv")
costs = df["Cost"]

df

    Cost      Category                              Reason
0  75000  Common costs                  One-year developer
1   8000  Common costs                      Final workshop
2   7970  Common costs        Publications and conferences
3   5000  Common costs                Travels and meetings
4   6500  Common costs  Internship (Outreachy scholarship)
5  34800       Pythran                Serge Guelton's work
6  60000        Cython                Stefan Behnel's work
7  30000         Numba                   Val Haenel's work

In [2]:
total_direct = costs.sum()
print(f"total_direct: ${total_direct:.2f}")

total_direct: $227270.00

In [3]:
pourcentage = 10
indirect = total_direct * pourcentage / 100
print(f"indirect costs: ${indirect:.2f}")

indirect costs: $22727.00

In [4]:
total_ok = 250000
total = total_direct + indirect
print(f"total: ${total:.2f}")
assert total < total_ok

total: $249997.00