In [1]:
import pandas as pd

df = pd.read_csv("budget.csv")
costs = df["Cost"]

df

    Cost      Category                        Reason
0   5000  Common costs          Travels and meetings
1  10000  Common costs                Final workshop
2  65000  Common costs            One-year developer
3  10000  Common costs  Publications and conferences
4   2500     Transonic                    Internship
5  34850       Pythran          Serge Guelton's work
6  60000        Cython          Stefan Behnel's work
7  30000         Numba             Val Haenel's work

In [2]:
total_direct = costs.sum()
print(f"total_direct: ${total_direct:.2f}")

total_direct: $217350.00

In [3]:
pourcentage = 15
indirect = total_direct * pourcentage / 100
print(f"indirect costs: ${indirect:.2f}")

indirect costs: $32602.50

In [4]:
total_ok = 250000
total = total_direct + indirect
print(f"total: ${total:.2f}")
assert total < total_ok

total: $249952.50

In [5]:
indirect_NumFOCUS = 25000
costs_LEGI = costs[2] + costs[4]
indirect_LEGI = indirect - indirect_NumFOCUS
pourcentage_LEGI = 100 * indirect_LEGI / (indirect_LEGI + costs_LEGI)
print(f"pourcentage_LEGI: {pourcentage_LEGI:.2f}%")

pourcentage_LEGI: 10.12%